<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <title>Poll Simulator</title>
</head>

<body class="center" style="border: 1px solid black; text-align: center; width: 25%; padding: 2%;">
    <section>
        <article>
            <h1>Poll Simulator</h1>
            <a href="/AddCandidates">Add Candidates</a>
            <br>
            <br>
            <a href="/Vote">Vote</a>
            <br>
            <br>
            <a href="/PollResult">Poll Result</a>
            <br>
            <br>
            <a href="/Report">Voting Summary</a>
        </article>
    </section>
</body>

</html>